@import url(../../fonts/font-awesome/font-awesome.css);
@import url(../../fonts/fonts_ozone/ozone.css);
body {
    margin:0px;padding:0px;
    background-color:#fbfbfb;
    color: #00cffb;
    font-family: "DBOzone";/*,"RobotoDraft","Roboto",sans-serif*/
    font-size: 14px;
    text-align: center;
}
.mainversion { position:absolute; right:20px; top:20px; color:#000; font-size:16px;}
.footmainversion { padding:20px 0 0 0; color:#000;}

.pen-title {
    letter-spacing: 2px;
    padding: 50px 0;
    text-align: center;
}
.pen-title h1 {
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 20px;
}
.pen-title span {
    font-size: 12px;
}
.pen-title span .fa {
    color: #ed2553;
}
.pen-title span a {
    color: #ed2553;
    font-weight: 600;
    text-decoration: none;
}
.rerun {
    margin: 0 0 30px;
    text-align: center;
}
.rerun a {
    background: #ed2553 none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.rerun a:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#codepen, #portfolio {
    background: #363636 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    height: 56px;
    position: fixed;
    right: 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 56px;
}
#codepen i, #portfolio i {
    line-height: 56px;
}
#codepen:hover, #portfolio:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#portfolio {
    animation: 1s ease 0s normal none 1 running buttonFadeInUp;
    background: #ed2553 none repeat scroll 0 0;
    bottom: 96px;
    height: 44px;
    right: 36px;
    width: 44px;
}
#portfolio i {
    line-height: 44px;
}


.bg { width:60%;height:100%;float:left;background:url(./img/login-bg.jpg) center no-repeat;background-size:cover; }
.container {
    float:left;width:40%;box-sizing:border-box;
    position: relative;
}
.container:before { font-size:0px; content:'';height:100%;width:0px;margin-left:-10px; vertical-align: middle;display:inline-block; }
.card { vertical-align: middle;display:inline-block;width:60%; }

.container.active .card:first-child {
    background: #f2f2f2 none repeat scroll 0 0;
    margin: 0 15px;
}
.container.active .card:nth-child(2) {
    background: #fafafa none repeat scroll 0 0;
    margin: 0 10px;
}
.container.active .card.alt {
    border-radius: 5px;
    height: auto;
    min-width: 100%;
    overflow: hidden;
    padding: 60px 0 40px;
    right: 0;
    top: 20px;
    width: 100%;
}
.container.active .card.alt .toggle {
    box-shadow: none;
    position: absolute;
    right: -70px;
    top: 40px;
    transform: scale(10);
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.container.active .card.alt .toggle::before {
    content: "";
}
.container.active .card.alt .title, .container.active .card.alt .input-container, .container.active .card.alt .button-container {
    left: 0;
    opacity: 1;
    transition: all 0.3s ease 0s;
    visibility: visible;
}
.container.active .card.alt .title {
    transition-delay: 0.3s;
}
.container.active .card.alt .input-container {
    transition-delay: 0.4s;
}
.container.active .card.alt .input-container:nth-child(2) {
    transition-delay: 0.5s;
}
.container.active .card.alt .input-container:nth-child(3) {
    transition-delay: 0.6s;
}
.container.active .card.alt .button-container {
    transition-delay: 0.7s;
}
.card {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 60px 0 40px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.card:first-child {
    padding: 0;
}
.card .title {
    color: #0972a3;
    font-size: 45px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.card .input-container {
    margin:40px 0px;
    position: relative;
}
.card .input-container input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #666666;
    font-size: 24px;
    font-weight: 400;
    height: 60px;
    outline: medium none;
    position: relative;
    width: 100%;
    z-index: 1; padding:0 10px 0 10px;
}
input:invalid {
    -moz-box-shadow: none; box-shadow: none;
}
.card .input-container input:focus ~ label {
    color: #666666;
    transform: translate(-12%, -70%) scale(0.75);
}
.card .input-container input:focus ~ .bar::before, .card .input-container input:focus ~ .bar::after {
    width: 50%;
}
.card .input-container input:valid ~ label {
    color: #9d9d9d;
    transform: translate(-12%, -70%) scale(0.75);
}
.card .input-container label {
    color: #666666;
    font-size: 24px;
    font-weight: 300;
    left: 0;
    line-height: 60px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
}
.card .input-container .bar {
    background: #858585 none repeat scroll 0 0;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.card .input-container .bar::before, .card .input-container .bar::after {
    background: #858585 none repeat scroll 0 0;
    content: "";
    height: 2px;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 0;
}
.card .input-container .bar::before {
    left: 50%;
}
.card .input-container .bar::after {
    right: 50%;
}
.card .button-container {
    margin-top: 35px;
    text-align: center;
}
.card .button-container button {
    background: #fd6162 none repeat scroll 0 center; font-family:"DBOzone";
    border: 0px solid #e3e3e3;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    outline: 0 none;
    overflow: hidden;
    padding: 15px 80px;
    position: relative;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.card .button-container button span {
    color: #ffffff;
    position: relative;
    transition: all 0.3s ease 0s;
    z-index: 1; font-size:26px;
}
.card .button-container button::before {
    background: #00cffb none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: #ffffff;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
    color: #ffffff;
}
.card .button-container button:active span, .card .button-container button:focus span {
    color: #ffffff;
}
.card .button-container button:active::before, .card .button-container button:focus::before {
    opacity: 1;
    transform: scale(10);
}
.card .footer {
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    margin: 40px 0 0;
    text-align: center;
}
.card .footer a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.card .footer a:hover {
    color: #bababa;
}
.card.alt {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: none;
    height: 140px;
    padding: 0;
    position: absolute;
    right: -70px;
    top: 40px;
    transition: all 0.3s ease 0s;
    width: 140px;
    z-index: 10;
}
.card.alt .toggle {
    background: #ff840c none repeat scroll 0 0;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
    cursor: pointer;
    font-size: 22px;
    height: 140px;
    line-height: 140px;
    position: relative;
    text-align: center;
    width: 140px;
}
.card.alt .toggle::before {
    content: "REGISTER";
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    /*line-height: 1;*/
    text-rendering: auto;
    transform: translate(0px, 0px);
}
.card.alt .title, .card.alt .input-container, .card.alt .button-container {
    left: 100px;
    opacity: 0;
    visibility: hidden;
}
.card.alt .title {
    border-color: #ffffff;
    color: #ffffff;
    position: relative;
}
.card.alt .title .close {
    color: #ffffff;
    cursor: pointer;
    display: inline;
    font-size: 58px;
    font-weight: 400;
    position: absolute;
    right: 60px;
    top: 0;
}
.card.alt .title .close::before {
    content: "×";
}
.card.alt .input-container input {
    color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
    color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar::before, .card.alt .input-container input:focus ~ .bar::after {
    background: #ffffff none repeat scroll 0 0;
}
.card.alt .input-container input:valid ~ label {
    color: #ffffff;
}
.card.alt .input-container label {
    color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
}
.card.alt .button-container button {
    background: #ffffff none repeat scroll 0 0;
    border-color: #ffffff;
    width: 100%;
}
.card.alt .button-container button span {
    color: #ff840c;
}
.card.alt .button-container button:hover {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
}
.card.alt .button-container button:active::before, .card.alt .button-container button:focus::before {
    display: none;
}

.footerregis { position:relative; z-index:100; color:#F00; text-align:center; margin-top:10px;}
/*
@keyframes buttonFadeInUp {
0% {
    bottom: 30px;
    opacity: 0;
}
}

*/
.resultError { color: red; font-size: 18px;}
