.boxlang { border: 0px solid #CCC; padding: 10px; margin: 0 0 10px 0;}

.hh01 { font-weight:bold; padding-bottom:5px;}

.paneltab {
  position: relative; margin: 0 10px 0 10px;
  height: auto;
  color: #999;
  border-radius: 0;
  border-top: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  background-color: #FAFAFA;
}
.paneltab li.active > a {
  border-top: 2px solid #4a89dc;
  border-left: 1px solid #CCC;
  border-bottom: 0px solid #CCC !important;
}
.paneltab li > a .required { color: #F00;}
.paneltabbody { margin: 0 10px 0 10px; border-left: 1px solid #CCC;border-right: 1px solid #CCC;border-bottom: 1px solid #CCC;}

table td.linetd { vertical-align: top !important;}
table td.linetd > p { margin: 2px 0 2px 0 !important;}

.progress_wrp {
		display: none;height: 24px;
		border: 1px solid #0099CC;
		padding: 1px;
		position: relative;
		border-radius: 3px;
		text-align: left;
		background: #fff;
		box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}
.progress_wrp .progress-bar{
	height: 20px;
		border-radius: 3px;
		background-color: #f39ac7;
		width: 0;
		box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
.progress_wrp .status{
	top:3px;
	left:45%;
	position:absolute;
	display:inline-block;
	color: #000000;
}
.labeluploadfile {cursor: pointer; font-size: 20px; color: #999;}
.labeluploadfile:hover { color: #000;}
div.Recommended { padding: 0 0 10px 0;}
div.postuploadicon {
    /*width: 109px;*/
    height: 30px; margin: 0 0 10px 0;
}
.uploadFile {
  visibility: hidden;
}
.showoption { padding: 10px 0 10px 0;}
.showoption img { display: block; width: 100%;}

div.frmalert { position: relative;}
div.frmalert .errorText { color: #F00; position: absolute; right: 5px; bottom: -5px;}
div.frmalert .toggle-password { position: absolute; right: 20px; top: 10px; cursor: pointer;}
.fonnreq {color: #F00;}

@media (max-width: 1280px) {
	.tray-right { display:none !important;}
}
table.datalistroyal { width: 100%;}
table.datalistroyal thead {}
table.datalistroyal thead tr {}
table.datalistroyal thead tr td { padding: 10px;}
table.datalistroyal tbody tr:nth-child(even) {background-color: #ffffff;}
table.datalistroyal tbody tr:nth-child(odd) {background-color: #f8f6ff;}
table.datalistroyal tbody tr td { padding: 8px;}
