
/* About 01 */
.about-01{
    position:relative; width:100%; background-size:cover; background-position:center;
    padding:2rem 0; min-height:400px; margin:60px 0 0 0;
}
.about-01 img.hero{
    display:block; width:auto; height:calc(100% + 120px);
    position:absolute; bottom:0; right:12%;
}
.about-01 .text-container{max-width:40rem; text-align:right; padding:0 10rem 0 0;}
@media screen and (max-width:1299.98px){
    .about-01{min-height:380px; margin:40px 0 0 0;}
    .about-01 img.hero{height:calc(100% + 100px); right:6%;}
}
@media screen and (max-width:1199.98px){
    .about-01{min-height:340px; margin:20px 0 0 0;}
    .about-01 img.hero{height:calc(100% + 80px); right:6%;}
}
@media screen and (max-width:991.98px){
    .about-01{min-height:300px; margin:0;}
    .about-01 img.hero{height:calc(100% + 60px); right:1rem;}
    .about-01 .text-container{padding:0 12rem 0 0;}
}
@media screen and (max-width:767.98px){
    .about-01{padding:2rem 0 0 0;}
    .about-01 img.hero{
        position:relative; top:unset; right:unset; height:320px; margin:2rem auto 0 auto;
    }
    .about-01 .text-container{padding:0; text-align:center;}
}


/* Auth 01 */
.auth-01{width:100%; padding:3rem 0 5rem 0;}
.auth-01 > .grids{justify-content:center;}
.auth-01 label{width:100%; text-align:right;}
.auth-01 .auth-right{width:100%; padding:3rem 0; margin:1.5rem 0 0 0;}
.auth-01 .auth-sep{
    width:100%; display:flex; align-items:center; justify-content:center; height:12rem;
    overflow:hidden; margin:1.5rem 0 0 0;
}
.auth-01 .auth-sep > .wrapper{position:relative;}
.auth-01 .auth-sep > .wrapper::before, .auth-01 .auth-sep > .wrapper::after{
    content:''; position:absolute; left:calc(50% - .5px); width:1px; height:5rem;
}
.auth-01 .auth-sep > .wrapper::before{bottom:calc(100% + .5rem);}
.auth-01 .auth-sep > .wrapper::after{top:calc(100% + .5rem);}
.auth-01.sm .auth-right{padding:.5rem 0; margin:0;}
.auth-01.sm .auth-sep{height:6.5rem; margin:0;}
@media screen and (max-width:1199.98px){
    .auth-01{padding:2.5rem 0 4rem 0;}
}
@media screen and (max-width:991.98px){
    .auth-01{padding:2rem 0 3rem 0;}
    .auth-01 label{text-align:unset;}
    .auth-01 .auth-right, .auth-01.sm .auth-right{padding:0; margin:0;}
    .auth-01 .auth-sep, .auth-01.sm .auth-sep{height:auto; margin:1.5rem 0;}
    .auth-01 .auth-sep > .wrapper::before, .auth-01 .auth-sep > .wrapper::after{
        top:calc(50% - .5px); bottom:unset; left:unset; width:12rem; height:1px;
    }
    .auth-01 .auth-sep > .wrapper::before{right:calc(100% + 1rem);}
    .auth-01 .auth-sep > .wrapper::after{left:calc(100% + 1rem);}
}
@media screen and (max-width:767.98px){
    .auth-01{padding:1.5rem 0 2.5rem 0;}
}


/* Banner 01 */
.banner-01{position:relative; width:100%;}
.banner-01 .slide-container{display:block; position:relative; width:100%;}
.banner-01 .slide{
    display:flex; align-items:center; position:relative; width:100%; height:32rem;
    background-size:cover; background-position:center; padding:0 0 2rem 0;
}
.banner-01 .pattern-container{position:absolute; bottom:0; left:0; right:0;}
.banner-01 .pattern{
    display:block; width:100%; height:2rem; background-size:auto 100%;
    background-position:center; background-repeat:repeat;
}
.banner-01 .bullet{position:absolute; bottom:0; right:0; height:2.75rem;}
.banner-01 .bullet .bullet-wrapper{
    display:flex; align-items:center; justify-content:flex-end; flex-wrap:wrap;
    height:100%; padding:0 2.25rem;
}
.banner-01 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0 .5rem 0 0;
}
.banner-01 .slick-dots li{
    position:relative; display:flex; align-items:center;
    padding:0 0 0 .375rem; margin:0;
}
.banner-01 .slick-dots li::after{
    content:''; display:block; margin:0 0 0 .375rem; width:0; height:.125rem;
    transition:width .25s;
}
.banner-01 .slick-dots li.slick-active::after{width:1.5rem;}
.banner-01 .slick-dots button{
    display:block; width:auto; height:auto; padding:0; margin:0; box-shadow:none;
    border:0; outline:none; font-size:1rem; transition:width .25s; background:transparent;
}
.banner-01 .arrows{
    position:absolute; top:0; bottom:0; left:.25rem; right:.25rem; pointer-events:none;
    display:flex; align-items:center; justify-content:space-between;
}
.banner-01 .arrows button{
    display:block; font-size:0; height:2.75rem; line-height:2.75rem; padding:0 .5rem;
    box-shadow:none; border:0; margin:0; outline:none; background:transparent;
    pointer-events:all; transition:background .25s, color .25s, opacity .25s;
}
.banner-01 .arrows button:hover{opacity:.7;}
.banner-01 .arrows button::before{
    font-family:'Font Awesome 5 Free'; font-weight:900; font-size:1.25rem;
}
.banner-01 .arrows button.slick-prev::before{content:'\f053';}
.banner-01 .arrows button.slick-next::before{content:'\f054';}
@media screen and (max-width:1199.98px){
    .banner-01 .slide{height:30rem;}
}
@media screen and (max-width:991.98px){
    .banner-01 .slide{height:27rem;}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide{height:24rem;}
}
@media screen and (max-width:575.98px){
    .banner-01 .slide{height:22rem;}
}
.banner-01 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
}
.banner-01 .slide.slick-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-01 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}


/* Breadcrumb 01 */
.breadcrumb-01{width:100%; overflow:hidden;}
.breadcrumb-01 .breadcrumb-container{
    width:100%; padding:10rem 0 6.25rem 0; background-size:cover;
    background-position:center;
}
.breadcrumb-01 .breadcrumb-wrapper{
    display:flex; align-items:center; flex-wrap:wrap; margin:3rem 0 0 0;
}
.breadcrumb-01 .breadcrumb-wrapper img{display:block; height:.8125rem; width:auto;}
.breadcrumb-01 .breadcrumb-wrapper a{
    display:block; margin:.375rem .875rem 0 0; font-size:.875rem; font-weight:200;
}
.breadcrumb-01 .breadcrumb-wrapper em{margin:.375rem .875rem 0 0; font-size:.625rem;}
.breadcrumb-01 .pattern-container{display:block; width:100%; height:2rem;}
.breadcrumb-01 .pattern{
    display:block; width:100%; height:100%; background-size:auto 100%;
    background-position:top center; background-repeat:repeat;
}
.breadcrumb-01 .ss-icon-title-01{min-height:5.3125rem;}

.breadcrumb-01.style-contact .breadcrumb-container{padding:10rem 0 4.3125rem 0;}
.breadcrumb-01.style-contact .breadcrumb-wrapper{margin:-5.5625rem 0 0 0;}
.breadcrumb-01.style-contact .contact-container{
    position:relative; display:block; width:100%; padding:0 0 2rem .75rem;
}
.breadcrumb-01.style-contact .contact-container::before{
    content:''; position:absolute; top:0; bottom:-.5rem; left:-1.25rem; width:1px;
}

@media screen and (max-width:1199.98px){
    .breadcrumb-01 .breadcrumb-container{padding:9rem 0 6.25rem 0;}
    .breadcrumb-01 .breadcrumb-wrapper{margin:2.75rem 0 0 0;}
    .breadcrumb-01.style-contact .breadcrumb-container{padding:9rem 0 4.375rem 0;}
    .breadcrumb-01.style-contact .breadcrumb-wrapper{margin:-5.3125rem 0 0 0;}
    .breadcrumb-01.style-contact .contact-container{padding:0 0 1.625rem .75rem;}
}
@media screen and (max-width:991.98px){
    .breadcrumb-01 .breadcrumb-container{padding:8rem 0 6.25rem 0;}
    .breadcrumb-01 .breadcrumb-wrapper{margin:2.5rem 0 0 0;}
    .breadcrumb-01.style-contact .breadcrumb-container{padding:8rem 0 4.375rem 0;}
    .breadcrumb-01.style-contact .breadcrumb-wrapper{margin:1.25rem 0 0 0;}
    .breadcrumb-01.style-contact .contact-container{padding:1.25rem 0 0 0;}
    .breadcrumb-01.style-contact .contact-container::before{display:none;}
}
@media screen and (max-width:767.98px){
    .breadcrumb-01 .breadcrumb-container{padding:7rem 0 6.25rem 0;}
    .breadcrumb-01 .breadcrumb-wrapper{margin:2.25rem 0 0 0;}
    .breadcrumb-01.style-contact .breadcrumb-container{padding:7rem 0 4.375rem 0;}
    .breadcrumb-01.style-contact .breadcrumb-wrapper{margin:1rem 0 0 0;}
    .breadcrumb-01.style-contact .contact-container{padding:1rem 0 0 0;}
}
@media screen and (max-width:575.98px){
    .breadcrumb-01 .breadcrumb-container{padding:6rem 0 6.25rem 0;}
    .breadcrumb-01 .breadcrumb-wrapper{margin:2rem 0 0 0;}
    .breadcrumb-01 .ss-icon-title-01 .desc br{display:none;}
    .breadcrumb-01.style-contact .breadcrumb-container{padding:6rem 0 4.375rem 0;}
}


/* Client 01 */
.client-01{width:100%; padding:2rem 0;}
.client-01 .slide-container{
    display:block; position:relative; width:calc(100% + 1rem); margin:0 -.5rem;
}
.client-01 .slide{position:relative; padding:0 .5rem;}
.client-01 .slide .content-container{
    display:block; position:relative; width:100%; padding:46% 0 0 0; overflow:hidden;
    background-size:cover; background-position:center;
}
.client-01 .slide .content-container > .wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:block; padding:.5rem;
    text-align:center;
}
.client-01 .arrows{
    position:absolute; top:0; bottom:0; left:-1.375rem; right:-1.375rem; pointer-events:none; 
    display:flex; align-items:center; justify-content:space-between; 
}
.client-01 .arrows button{
    border:0; padding:0; background:none; box-shadow:none; font-size:0; pointer-events:all;
    outline:none; position:relative; opacity:0; transition:all .25s;
}
.client-01 .arrows button.slick-prev{padding:.5rem 1rem .5rem 0; transform:translateX(-.5rem);}
.client-01 .arrows button.slick-next{padding:.5rem 0 .5rem 1rem; transform:translateX(.5rem);}
.client-01 .slide-container:hover .arrows button{opacity:1; transform:none!important;}
.client-01 .arrows button::before{
    font:normal normal normal 14px/1 'Material-Design-Iconic-Font'; font-size:3.5rem;
}
.client-01 .arrows button.slick-prev::before{content:'\f2fa';}
.client-01 .arrows button.slick-next::before{content:'\f2fb';}
@media screen and (max-width:767.98px){
    .client-01{padding:1.75rem 0;}
    .client-01 .arrows{left:-1.25rem; right:-1.25rem;}
}
@media screen and (max-width:575.98px){
    .client-01{padding:1.5rem 0;}
    .client-01 .slide-container{width:calc(100% + .75rem); margin:0 -.375rem;}
    .client-01 .slide{padding:0 .375rem;}
}


/* Contact 01 */
.contact-01{width:100%;}
.contact-01 .icon-container{display:flex; justify-content:center; width:100%; padding:.5rem 0;}
.contact-01 .icon-card{display:flex; padding:.1875rem 0;}
.contact-01 .icon-card .icon{width:2rem; margin:0 .5rem 0 0; text-align:center;}
.contact-01 .icon-card .icon em{font-size:1.25rem;}
.contact-01 .icon-card .text-wrapper{max-width:calc(100% - 2.5rem);}
.contact-01 .img-container{position:relative; display:block; width:100%; height:100%;}
.contact-01 .img-container > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0;
    background-size:cover; background-position:center; background-repeat:no-repeat;
}

/* Contact 02 */
.contact-02{position:relative; width:100%; margin:2.5rem 0 0 0;}
.contact-02 .img-float{
    display:block; width:13rem; height:auto; position:absolute; top:-1rem; right:0;
}
@media screen and (max-width:1199.98px){
    .contact-02 .img-float{width:12rem;}
}
@media screen and (max-width:991.98px){
    .contact-02 .img-float{display:none;}
}

/* Contact Card 01 */
.contact-card-01{position:relative; width:100%; height:6.25rem; padding:1rem; overflow:hidden;}
.contact-card-01 p, .contact-card-01 a{position:relative;}
.contact-card-01 a:hover{opacity:.75;}
.contact-card-01 .contact-tag{
    position:absolute; bottom:-1.5rem; right:.5rem; opacity:.6; transition:transform ease .5s;
}
.contact-card-01:hover .contact-tag{transform:scale(1.4)rotate(15deg);}
.contact-card-01 .contact-tag > em{font-size:6rem; line-height:1;}
.contact-card-01 .contact-tag > img{
    display:block; width:auto; max-width:6.875rem; height:auto; max-height:6.875rem;
}

/* Contact Card 02 */
.contact-card-02{
    position:relative; display:flex; align-items:center; width:100%; height:4rem;
    padding:.25rem .75rem .25rem 1.75rem;
}
.contact-card-02::before{
    content:''; position:absolute; top:0; bottom:0; left:0; width:1rem; opacity:.3;
    transition:width .25s;
}
.contact-card-02:hover::before{width:100%;}


/* Faq 01 */
.faq-01{width:100%;}
.faq-01 .faq{width:100%; margin:.125rem 0 0 0;}
.faq-01 .faq > .question{
    width:100%; display:flex; align-items:center; padding:0;
    transition:background .25s, border-color .25s;
}
.faq-01 .faq > .question .options{
    width:17rem; display:flex; align-items:center; justify-content:flex-end;
    flex-wrap:wrap; padding:1rem 1rem 1rem 0;
}
.faq-01 .faq > .question .options .btn{width:8.5rem; margin:0 0 0 1rem;}
.faq-01 .faq > .question .fag-title{
    display:block; width:calc(100% - 21rem); padding:0 0 0 1.25rem;
    display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
    -webkit-box-orient:vertical; -webkit-line-clamp:2;
}
.faq-01 .faq .ftag{
    display:block; width:4rem; min-height:5rem; height:auto;
    border-left:5px solid transparent; padding:1rem 0; text-align:center;
    transition:background .25s, border-color .25s, color .25s;
}
.faq-01 .faq > .answer{display:none; width:100%; padding:0 0 1.25rem 0;}
.faq-01 .faq > .answer > .wrapper{
    width:calc(100% - 9.5rem); display:flex; align-items:flex-start;
}
.faq-01 .faq > .answer .content{width:calc(100% - 4rem); padding:1.25rem 0 1.25rem 1.25rem;}
@media screen and (max-width:991.98px){
    .faq-01 .faq .ftag{width:3.75rem;}
    .faq-01 .faq > .question .options{padding:.75rem .75rem .75rem 0;}
    .faq-01 .faq > .question .fag-title{width:calc(100% - 20.5rem); padding:0 0 0 1rem;}
    .faq-01 .faq > .answer > .wrapper{width:100%;}
    .faq-01 .faq > .answer .content{width:calc(100% - 3.75rem); padding:1rem 0 1rem 1rem;}
}
@media screen and (max-width:767.98px){
    .faq-01 .faq > .question{flex-wrap:wrap;}
    .faq-01 .faq > .question .options{width:100%; padding:0 .75rem .75rem 0;}
    .faq-01 .faq > .question .fag-title{width:calc(100% - 3.75rem); padding:0 .75rem;}
    .faq-01 .faq > .answer .content{padding:.75rem 0 .75rem .75rem;}
}


/* History 01 */
.history-01{position:relative; width:100%; margin:.625rem 0 0 0;}
.history-01 .info-wrapper{position:relative; width:100%;}
.history-01 .info{position:relative; width:100%; display:flex; padding:0 0 .875rem 0;}
.history-01 .info::before{
    content:''; position:absolute; top:.25rem; bottom:-.25rem; left:.6rem; width:.25rem;
}
.history-01 .info:last-child::before{display:none;}
.history-01 .info > .dot{
    position:relative; display:block; width:1rem; height:1rem; z-index:1;
    border:2px solid transparent; margin:.0625rem .75rem 0 .25rem; border-radius:50%;
    box-shadow:0px 2px 4px 2px rgba(0,0,0,.1);
}
.history-01 .info > .detail{width:calc(100% - 2rem);}
.history-01 .info > .time{width:7rem; padding:0 1rem 0 0;}
.history-01 .info > .time + .detail{width:calc(100% - 9rem);}
@media screen and (max-width:767.98px){
    .history-01 .info > .time{width:6.5rem; padding:0 1rem 0 0;}
    .history-01 .info > .time + .detail{width:calc(100% - 8.5rem);}
}
@media screen and (max-width:575.98px){
    .history-01 .info{flex-wrap:wrap;}
    .history-01 .info > .time{width:calc(100% - 2rem);}
    .history-01 .info > .time + .detail{width:100%; padding:.1875rem 0 0 2rem;}
}


/* Intro 01 */
.intro-01{display:block; position:relative; width:100%; z-index:1;}
.intro-01 .contents{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
.intro-01 .content{
    display:block; position:relative; width:calc(100% / 6 - 1px); height:7.5rem;
    margin:0 0 calc(1.25rem + 1px) 0;
}
.intro-01 .content .bg-container, .intro-01 .content .img-bg, .intro-01 .content .filter,
.intro-01 .content .gross{position:absolute; top:0; bottom:0; left:0; right:0;}
.intro-01 .content .bg-container{transition:top .25s, bottom .25s;}
.intro-01 .content:hover .bg-container{top:-1.25rem; bottom:-1.25rem;}
.intro-01 .content .bg-container > .wrapper{position:relative; width:100%; height:100%;}
.intro-01 .content .img-bg{
    background-size:cover; background-position:center; filter:grayscale(100%);
}
.intro-01 .content .filter{mix-blend-mode:hard-light; opacity:.85;}
.intro-01 .content .gross{opacity:0; transition:opacity .25s;}
.intro-01 .content:hover .gross{opacity:1;}
.intro-01 .content .icon-container{
    position:absolute; top:-.25rem; left:0; right:0; opacity:0; transition:opacity .25s;
}
.intro-01 .content:hover .icon-container{opacity:1;}
.intro-01 .content .icon-container > img{
    display:block; width:auto; max-width:3rem; height:auto; max-height:3rem; margin:0 auto;
}
.intro-01 .content .text-container{
    position:absolute; bottom:.5rem; left:.625rem; right:.625rem;
}
.intro-01 .content .num, .intro-01 .content .num > span{line-height:.6!important;}
.intro-01 .content .num{mix-blend-mode:overlay;}
@media screen and (max-width:991.98px){
    .intro-01{padding:calc(1.25rem + 1px) 0 0 0;}
    .intro-01 .content{width:calc(100% / 3 - 1px);}
}
@media screen and (max-width:575.98px){
    .intro-01 .content{width:calc(100% / 2 - 1px);}
}


/* Org 01 */
.org-01 .tree{width:43rem; margin:0 auto 1.25rem auto;}
.org-01 .node{position:relative; width:19rem; margin:1.25rem 0 0 0;}
.org-01 .node::before{
    content:''; position:absolute; top:calc(50% + 1.5rem); right:100%;
    width:2.25rem; height:.1875rem;
}
.org-01 .node::after{
    content:''; position:absolute; bottom:calc(50% - 1.6875rem); right:calc(100% + 2.15625rem);
    width:.1875rem; height:calc(100% + 2rem);
}
.org-01 .node a{display:block;}
.org-01 .node > .icon{display:block; width:25%; height:auto; margin:0 auto .875rem auto;}
.org-01 .node .node-title{
    display:block; position:relative; width:100%; max-width:calc(100% - .5rem);
    padding:1.25rem .5rem .5rem .5rem; margin:0 0 0 auto;
    border-left:.1875rem solid transparent;
}
.org-01 .node .node-title::before{
    content:''; position:absolute; top:0; bottom:0; right:calc(100% + .1875rem); width:.5rem;
}
.org-01 .node .children{width:100%; padding:0 .5rem .5rem .5rem; overflow:hidden;}
.org-01 .node .child{position:relative; width:100%; margin:.5rem 0 0 0; padding:.125rem;}
.org-01 .node .child > *{
    width:100%; padding:.875rem .25rem; transition:background .25s, color .25s;
}
.org-01 .node.root{margin:0 auto;}
.org-01 .node.root::before, .org-01 .node.root::after{display:none;}
.org-01 .node.root .node-title{max-width:100%; border:0; padding:.875rem .5rem;}
.org-01 .node-grids{width:100%; display:flex; overflow:hidden;}
.org-01 .node-grid{width:50%; padding:.75rem 0 0 2.25rem;}
.org-01 .node-grid:nth-child(odd){padding:.75rem 2.25rem 0 0;}
.org-01 .node-grid:nth-child(odd) .node{margin:1.25rem 0 0 auto;}
.org-01 .node-grid:nth-child(odd) .node::before{left:100%; right:auto;}
.org-01 .node-grid:nth-child(odd) .node::after{left:calc(100% + 2.15625rem); right:auto;}


/* Pagination 01 */
.pagination-01, .pagination-01 > .wrapper{
    display:flex; align-items:center; justify-content:center; flex-wrap:wrap;
}
.pagination-01 > .btns{width:auto;}
.pagination-01 .page-btn{
    display:inline-block; text-decoration:none; height:1.8375rem; width:1.8375rem;
    line-height:1.9375rem; font-size:.875rem; font-weight:600; padding:0; text-align:center;
    margin:.0625rem; border-radius:50%; transition:background .25s, color .25s, border-color .25s;
}
.pagination-01 .page-btn.page-first, .pagination-01 .page-btn.page-prev, 
.pagination-01 .page-btn.page-next, .pagination-01 .page-btn.page-last{font-size:1rem;}
.pagination-01 .page-btn.disabled{opacity:.5; pointer-events:none;}
.pagination-01 .btn{margin:0 .25rem;}
@media screen and (max-width:575.98px){
    .pagination-01 > .btns{width:100%; margin:.25rem 0 0 0; text-align:center;}
}

/* Pagination 02 */
.pagination-02 > .wrapper{
    display:flex; align-items:center; justify-content:center; flex-wrap:wrap;
}
.pagination-02 .page-btn{
    display:inline-block; text-decoration:none; height:2.125rem; width:2.125rem;
    line-height:1.875rem; font-size:.875rem; font-weight:600; padding:0; text-align:center;
    margin:.0625rem .1875rem; border-radius:50%; border:.1875rem solid transparent;
    transition:background .25s, color .25s, border-color .25s;
}
.pagination-02 .page-btn.page-first, .pagination-02 .page-btn.page-prev, 
.pagination-02 .page-btn.page-next, .pagination-02 .page-btn.page-last{
    font-size:1rem; line-height:1.9375rem;
}
.pagination-02 .page-btn.disabled{opacity:.5; pointer-events:none;}
.pagination-02 .dots{
    font:1rem; font-weight:600; margin:0 .75rem; transform:translateY(-.1875rem);
}
@media screen and (max-width:575.98px){
    .pagination-02 > .btns{width:100%; margin:.25rem 0 0 0; text-align:center;}
}


/* Post */
.post-container{width:100%; display:flex; justify-content:space-between; flex-wrap:wrap;}
.post-container > .post-left-container{position:relative; width:4.25rem; margin:0; overflow:hidden;}
.post-container > .post-right-container{
    width:calc(100% - 5.5rem); margin:0; display:flex; flex-wrap:wrap;
    justify-content:space-between;
}
.post-container .post-header{display:flex; flex-wrap:wrap; width:100%;}
.post-container .post-header > .title-container{width:calc(100% - 15.25rem);}
.post-container .post-header > .option-container{width:14rem;}
.post-container .post-content{width:calc(100% - 15.25rem); margin:0;}
.post-container .related-contents{width:14rem; margin:0;}
.post-container .post-bottom{width:100%;}

.post-container > .post-left-container .pattern{
    position:absolute; left:0; right:1.5rem; height:100%; margin:1rem 0 0 0;
    background-size:100% auto; background-position:top left; background-repeat:repeat-y;
}
.post-container .post-header > .option-container .option{
    display:flex; align-items:center; justify-content:flex-end; font-size:.875rem;
    font-weight:300;
}
.post-container .post-header > .option-container .option img{
    display:block; height:.875rem; width:auto; margin:0 .375rem 0 0;
}
.post-container .post-header > .option-container .option em{font-size:1.25rem; margin:0 0 0 .375rem;}

.post-video{display:block; width:100%; max-width:44rem; margin:0 auto;}
.post-video > .wrapper{position:relative; width:100%; padding:56% 0 0 0;}
.post-video video, .post-video iframe{width:100%; height:100%;}

.post-stats{width:100%; border:1px solid transparent;}
.post-stats .post-stat{
    display:flex; align-items:center; justify-content:space-between; white-space:nowrap;
    font-size:.875rem; font-weight:400; padding:.25rem .25rem .25rem .125rem;
    border-bottom:1px solid transparent; height:1.6875rem;
}
.post-stats .post-stat:last-child{border-bottom:0;}
.post-stats .post-stat .icon{width:2rem;}
.post-stats .post-stat .icon > img{
    width:auto; max-width:1.25rem; height:auto; max-height:1.375rem;
    display:block; margin:0 auto;
}
.post-stats .post-stat .icon.sm > img{max-width:1rem; max-height:1rem;}

@media screen and (max-width:991.98px){
    .post-container .post-header > .title-container{width:calc(100% - 8.5rem);}
    .post-container .post-header > .option-container{width:7.25rem;}
    .post-container .post-content{width:100%;}
    .post-container .related-contents{width:100%; margin-top:1.5rem;}
}
@media screen and (max-width:767.98px){
    .post-container .post-header > .title-container{width:100%;}
    .post-container .post-header > .option-container{width:100%;}
}
@media screen and (max-width:575.98px){
    .post-container > .post-left-container{
        width:100%; display:flex; align-items:flex-end; margin:0 0 1.25rem 0;
    }
    .post-container > .post-left-container .pattern{display:none;}
    .post-container > .post-left-container .post-stats{width:4.5rem; margin-left:.75rem;}
    .post-container > .post-right-container{width:100%;}
}


/* Progress 01 */
.progress-01{
    width:100%; display:flex; align-items:center; justify-content:space-between; padding:1rem 0;
}
.progress-01 > .bar{width:calc(100% - 3.5rem); position:relative; display:block;}
.progress-01 .track{display:block; position:relative; width:100%; height:.3125rem;}
.progress-01 .track::after{
    content:''; position:absolute; top:0; bottom:0; left:0; width:calc(var(--p) * 100%);
    transition:width .25s;
}
.progress-01 .dot{
    position:absolute; top:-.875rem; left:calc(-1rem + var(--p) * 100%); padding:0; margin:0;
    display:flex; align-items:center; justify-content:center; width:2rem; height:2rem;
    border-radius:50%; border:2px solid transparent; font-size:.875rem; font-weight:600;
    box-shadow:0px 1px 3px 3px rgba(0,0,0,.12); transition:left .25s;
}


/* Sitemap 01 */
.sitemap-01 .sitemap{width:100%; margin:0 0 .75rem 0;}
.sitemap-01 .sitemap > .header{
    padding:.625rem 0 .625rem .625rem; border-bottom:1px solid transparent;
}
.sitemap-01 .sitemap .icon{width:100%; height:3.375rem; margin:.25rem 0 1rem 0;}
.sitemap-01 .sitemap .icon > img{display:block; height:100%; width:auto;}
.sitemap-01 .sitemap ul{padding:0; margin:0; list-style:none;}
.sitemap-01 .sitemap li{width:100%; padding:0; margin:0;}
.sitemap-01 .sitemap a{
    display:block; width:100%; padding:.625rem 0 .625rem .625rem;
    border-bottom:1px solid transparent;
}
.sitemap-01 .sitemap li > ul{border-bottom:1px solid transparent;}
.sitemap-01 .sitemap li > ul > li{position:relative; border-bottom:0; padding:0 0 0 1.5625rem;}
.sitemap-01 .sitemap li > ul > li::before{
    content:''; position:absolute; top:1.1875rem; left:1.25rem; width:.375rem; height:.375rem;
}
.sitemap-01 .sitemap li > ul > li > a{border-bottom:0;}
.sitemap-01 .sitemap-card{
    display:block; width:100%; border:1px solid transparent; border-radius:.375rem;
}
.sitemap-01 .sitemap-card .text-container{width:100%; text-align:center; padding:.75rem;}
.sitemap-01 .sitemap-card .title{transition:color .25s;}


/* Slide Target */
.slide-target{width:100%;}
.slide-target .slide-nav{width:calc(100% + .75rem); margin:.375rem -.375rem 0 -.375rem;}
.slide-target .slide-nav .slide > .wrapper{
    cursor:pointer; border:.375rem solid transparent; transition:border-color .25s;
}
.slide-target .slide-display{position:relative;}
.slide-target .arrows{
    position:absolute; top:0; bottom:0; left:.625rem; right:.625rem; display:flex;
    align-items:center; justify-content:space-between; pointer-events:none;  
}
.slide-target .arrows button{
    border:0; padding:0; background:none; box-shadow:none; font-size:0; pointer-events:all;
    outline:none; position:relative; padding:1rem .625rem; text-align:center;
    transition:all .25s;
}
.slide-target .arrows button::before{
    font-family:'Font Awesome 5 Free'; font-weight:900; font-size:1.125rem;
}
.slide-target .arrows button.slick-prev::before{content:'\f053';}
.slide-target .arrows button.slick-next::before{content:'\f054';}
@media screen and (max-width:767.98px){
    .slide-target .arrows{left:.5rem; right:.5rem;}
    .slide-target .arrows button{padding:.875rem .5rem;}
    .slide-target .arrows button::before{font-size:1rem;}
}


/* Survey 01 */
.survey-01{width:100%;}
.survey-01 .survey{width:100%;}
.survey-01 .survey > .header{
    width:100%; display:flex; align-items:center; flex-wrap:wrap; padding:.75rem 0;
}
.survey-01 .survey > .header .icon-container{width:3rem;}
.survey-01 .survey > .header .icon{
    width:2rem; height:2rem; border-radius:50%; text-align:center; font-size:1rem;
    line-height:2rem;
}
.survey-01 .survey > .header .btns{width:8.5rem; text-align:right;}
.survey-01 .survey > .header .text-container{width:calc(100% - 11.5rem);}
.survey-01 .survey .survey-toggle > em:last-child{font-size:.625rem; transition:transform .25s;}
.survey-01 .survey.active .survey-toggle > em:last-child{transform:rotate(90deg);}
.survey-01 .survey > .body{display:none; width:100%;}
.survey-01 .survey > .body > .wrapper{position:relative; width:100%; padding:1rem;}
@media screen and (max-width:767.98px){
    .survey-01 .survey > .header{align-items:unset;}
    .survey-01 .survey > .header .icon-container{width:2.625rem; margin:.1875rem 0 0 0;}
    .survey-01 .survey > .header .btns{width:100%; text-align:left; padding:.5rem 0 0 2.625rem;}
    .survey-01 .survey > .header .text-container{width:calc(100% - 2.625rem);}
}

/* Survey 02 */
.survey-02{width:100%; padding:0 0 0 3.0625rem;}
.survey-02 .survey{width:100%; padding:1rem 0 0 0; display:flex; justify-content:space-between;}
.survey-02 .survey > .num{
    display:block; width:1.875rem; height:1.875rem; line-height:2rem; text-align:center;
    font-size:.875rem; font-weight:500; border-radius:50%;
}
.survey-02 .survey > .text-container{
    display:block; width:calc(100% - 3.5rem); padding:.375rem 0 1rem 0;
}
@media screen and (max-width:991.98px){
    .survey-02{padding:0 0 0 2.9375rem;}
    .survey-02 .survey{padding:.75rem 0 0 0;}
    .survey-02 .survey > .text-container{width:calc(100% - 3rem); padding:.375rem 0 .75rem 0;}
}
@media screen and (max-width:767.98px){
    .survey-02 .survey > .num{ width:1.75rem; height:1.75rem; line-height:1.875rem;}
    .survey-02 .survey > .text-container{width:calc(100% - 2.75rem);}
}

/* Survey 03 */
.survey-03{width:100%;}
.survey-03 .survey{display:block; position:relative; width:100%; padding:1.5rem 0;}
.survey-03 .survey .survey-tag{
    display:inline-block; width:auto; padding:.375rem 1rem .25rem 1rem;
    border-radius:1000em; margin:0 0 .75rem 0;
}
.survey-03 .survey > .wrapper{width:100%; padding:0 0 0 1rem;}
@media screen and (max-width:991.98px){
    .survey-03 .survey{padding:1.25rem 0;}
}
/* Survey 03 */
.survey-03 .survey .survey-tag{background:#f2f2f2; color:#000000;}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{position:relative; display:none; width:100%; padding:0; margin:0;}
.tab-container .tab-content.active{display:block;}

/* Tab Container - Tabs 01 */
.tab-container .tabs.tabs-01{
    display:flex; justify-content:center; flex-wrap:wrap; overflow:hidden;
    margin:-.0625rem; width:calc(100% + .125rem);
}
.tab-container .tabs.tabs-01 .tab{
    display:block; position:relative; padding:.8125rem 1.375rem; margin:.0625rem;
    font-size:.875rem; font-weight:500; white-space:nowrap; transition:all .25s;
}
.tab-container .tabs.tabs-01 .tab.active{
    clip-path:polygon(0 0, 100% 0, 100% calc(100% - .875rem), calc(100% - .875rem) 100%, 0 100%);
}
@media screen and (max-width:991.98px){
    .tab-container .tabs.tabs-01 .tab{padding:.6875rem 1rem;}
}
@media screen and (max-width:575.98px){
    .tab-container .tabs.tabs-01 .tab{padding:.6875rem .875rem;}
}

/* Tab Container - Tabs 02 */
.tab-container .tabs.tabs-02{display:flex; flex-wrap:wrap; overflow:hidden;}
.tab-container .tabs.tabs-02 .tab{
    display:block; position:relative; padding:.75rem 1rem; white-space:nowrap;
    font-size:.875rem; font-weight:500; transition:all .25s;
}

/* Tab Container - Tabs 03 */
.tab-container .tabs.tabs-03{width:100%; display:flex; flex-wrap:wrap; overflow:hidden;}
.tab-container .tabs.tabs-03 .tab{
    display:block; position:relative; padding:1.125rem 1.5rem; white-space:nowrap;
    font-size:.875rem; font-weight:400; transition:all .25s;
}
.tab-container .tabs.tabs-03 .tab::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    background:url('../images/misc/tab-bg.jpg') center/cover; transition:opacity .25s;
}
.tab-container .tabs.tabs-03 .tab.active::before,
.tab-container .tabs.tabs-03 .tab:hover::before{opacity:1;}
.tab-container .tabs.tabs-03 .tab span{position:relative;}
.tab-container .tabs.tabs-03 .btn-setting{
    display:flex; justify-content:center; align-items:center; width:2.75rem;
    margin:0 0 0 auto; transition:background .25s;
}
.tab-container .tabs.tabs-03 .btn-setting img{display:block; height:1.5rem; width:auto;}
@media screen and (max-width:991.98px){
    .tab-container .tabs.tabs-03 .tab{padding:1rem 1.25rem;}
}
@media screen and (max-width:767.98px){
    .tab-container .tabs.tabs-03 .tab{padding:1rem 1rem;}
}

/* Event Modal */
#eventModal .actions-btn {
    position: absolute;
    left: 50%;
    bottom: 65px;
    transform: translateX(-50%);
}
